{% extends 'base.html' %}
{% load static %}



{% block page_content %}
    <div class="container py-5">
        <div class="border-bottom">
            <div class="d-flex">
            <span class="icon">
                <i class="fal fa-arrow-left"></i>
            </span>
                <h3 class="mx-1">{{ classroom.name }}</h3>
            </div>
            <a class="profile-link mb-2 mx-4" href="/profile/{{ classroom.teacher.username }}">
                <img style="width:36px;height: 36px;border-radius: 100%"
                     src="https://yt3.ggpht.com/yti/ANoDKi6qkYmmkW5h-MgYVlY8Gk1D3fUyu6z8y2Pzfffl=s88-c-k-c0x00ffffff-no-rj-mo"
                     alt="">
                <span>{{ classroom.teacher.name }}</span>
            </a>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs my-4">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/class/{{ classrom.code }}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/class/classwork/{{ classroom.code }}">Classwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/class/classmates/{{ classroom.code }}">Classmates</a>
            </li>
        </ul>


        <div class="my-4">
            {% for classwork in classworks %}
                <div class="border my-2 p-3"
                     style="border-radius: 5px;cursor: pointer !important;">
                    <a class="profile-link mb-2" href="/profile/{{ classroom.teacher.name }}">
                        <img style="width:36px;height: 36px;border-radius: 100%"
                             src="https://yt3.ggpht.com/yti/ANoDKi6qkYmmkW5h-MgYVlY8Gk1D3fUyu6z8y2Pzfffl=s88-c-k-c0x00ffffff-no-rj-mo"
                             alt="">
                        <span>{{ classroom.teacher.name }}</span>
                    </a>
                    <a href="/class/classwork/{{ classroom.code }}/{{ classroom.pk }}">
                        <span class="badge bg-secondary mb-2">{{ classwork.get_created }}</span>
                        <h5>{{ classwork.tittle }}</h5>
                        <p>{{ classwork.detail|truncatechars:50 }}</p>
                    </a>

                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
