{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block page_content %}
    <div class="auth-wrapper">
        <div class="auth-card">
        <div class="d-flex align-items-start">
                <a href="{% url 'login' %}" class="icon">
                    <i class="fal fa-arrow-left "></i>
                </a>
                <h3 class="mx-1">Create class</h3>
            </div>
            <form action="" method="post">
                {% csrf_token %} 
               {{ form|crispy }}
               <div class="d-flex justify-content-end my-2">
               <button class="btn btn-success">Create class</button>

               </div>
            </form>
        </div>
    </div>
{% endblock %}
