{% extends 'base.html' %}
{% load static %}



{% block page_content %}
    <div class="container py-5">
        <div class="border-bottom">
            <div class="d-flex">
            <span class="icon">
                <i class="fal fa-arrow-left"></i>
            </span>
                <h3 class="mx-1">{{ classroom.name }}</h3>
            </div>
            <a class="profile-link mb-2 mx-4" href="/profile/{{ classroom.teacher.username }}">
                <img style="width:36px;height: 36px;border-radius: 100%"
                     src="https://yt3.ggpht.com/yti/ANoDKi6qkYmmkW5h-MgYVlY8Gk1D3fUyu6z8y2Pzfffl=s88-c-k-c0x00ffffff-no-rj-mo"
                     alt="">
                <span>{{ classroom.teacher.name }}</span>
            </a>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs my-6">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Classwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/class/classmates/{{ classroom.code }}">Classmates</a>
            </li>
        </ul>

        <div class="my-4">
            {% for post in posts %}
                <div class="border my-2 p-3" style="border-radius: 5px;margin">
                    <h5>{{ post.tittle }}</h5>
                    <p>{{ post.detail }}</p>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
