{% extends 'base.html' %}
{% load static %}



{% block page_content %}
    <div class="container py-5">
        <div class="border-bottom">
            <div class="d-flex">
            <a href="{{ previous_url }}" class="icon">
                <i class="fal fa-arrow-left"></i>
            </a>
                <h3 class="mx-1">{{ classroom.name }}</h3>
            </div>
            <a class="profile-link mb-2 mx-4" href="/profile/{{ classroom.teacher.username }}">
                <img style="width:36px;height: 36px;border-radius: 100%"
                     src="https://yt3.ggpht.com/yti/ANoDKi6qkYmmkW5h-MgYVlY8Gk1D3fUyu6z8y2Pzfffl=s88-c-k-c0x00ffffff-no-rj-mo"
                     alt="">
                <span>{{ classroom.teacher.name }}</span>
            </a>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-tabs my-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'detailed-joined-class' code=classroom.code %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listed-classwork' code=classroom.code %}">Classwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listed-classmates' code=classroom.code %}">Classmates</a>
            </li>
        </ul>

        <div class="my-4">
            {% for post in posts %}
                <div class="" data-bs-toggle="modal" data-bs-target="#post_detail_modal{{ post.id }}"
                     style="border-radius: 5px;cursor: pointer !important;">
                    <div class="border-bottom classwork-card">
                        <span class="d-block mx-1 p-1">
                                {% if post.type == "annoucement" %}
                                    <i class="fal fa-bullhorn fa-2x"></i>
                                    {% else %}
                                    <i class="fal fa-backpack fa-2x"></i>
                                {% endif %}

                        </span>
                        <div class="d-flex align-items-start flex-column">
                            <h6 class="mb-0">{{ post.tittle|truncatechars:30 }}</h6>
                            <span class="m-0">{{ post.created }}</span>
                        </div>
                    </div>
                </div>

                </div>
                <div class="modal fade" id="post_detail_modal{{ post.id }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header d-flex align-items-center justify-content-start">
                                <div class="icon" data-bs-dismiss="modal"><i class="fal fa-arrow-left"></i></div>
                                <h6 class="mx-1 modal-title text-secondary" id="exampleModalLabel">{{ post.tittle }}</h6>
                            </div>
                            <div class="modal-body">
                                <h5 style="width: max-content" class="border-bottom border-success mb-3">Details</h5>
                                <p class="text-secondary">
                                    {{ post.detail }}
                                </p>

                                <h5 style="width: max-content" class="border-bottom border-success mb-3">Attached File</h5>

                                {% if post.attached_file %}
                                    <a target="_blank" href="{{ post.attached_file.url }}" class="btn btn-success btn-sm"> <i class="fal fa-link"></i> Download</a>
                                {% else %}
                                    <span>No attached file</span>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

    </div>
    </div>

{% endblock %}
