@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Rubik', sans-serif;
}

button, .btn {
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.asteriskField {
    color: var(--bs-danger);
}

.nav-link {
    color: var(--bs-secondary);
    border: none
}

.nav-link:hover {
    background-color: #eeeeee;
    color: var(--bs-secondary);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-green) !important;
    border: none !important;
    border-bottom: 1px solid var(--bs-green) !important;
}

.nav-tabs:hover .nav-item.show:hover .nav-link:hover, .nav-tabs:hover .nav-link.active:hover {
    color: var(--bs-green) !important;
    border: none !important;
    border-bottom: 1px solid var(--bs-green) !important;
    background-color: #eeeeee;
}

.icon {
    font-size: 1.1rem;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon:hover {
    color: black;
    outline: none;
    background-color: #eeeeee;

}

.icon:focus {
    color: black;
    outline: none;
    background-color: #eeeeee;
}

.muted-to-link {
    color: var(--bs-secondary);
    text-decoration: none;
}

.muted-to-link:hover {
    color: var(--bs-primary);
    text-decoration: underline;
}

.profile-link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #000000;
    align-items: center;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: 5px;
}

.profile-link:hover {
    color: #000000;
    background-color: #eeeeee;
}


.navbar-userinfo {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.navbar-userinfo:hover {
    background-color: #eee;
}

.navbar-userinfo img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.navbar-profile-dropdown {
    min-width: 200px !important;
    padding: 1rem !important;
    border-radius: 5px !important;
    margin-top: 10px;
}

.navbar-profile-dropdown > div {
    display: flex;
    flex-direction: column;
}

.navbar-profile-dropdown > div > a {
    padding: .4rem;
    border-radius: 4px;
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
}

.navbar-profile-dropdown > div > a:hover {
    background-color: #eeeeee;
}

.navbar-profile-dropdown > div > a > i {
    color: rgba(0, 0, 0, .9) !important;
}

.home-hero {
    background: url("https://images.unsplash.com/photo-1581726707445-75cbe4efc586?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 57.25px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.home-hero-wrapper {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
}

.home-hero-wrapper > p {
    font-size: 1.1rem;
    max-width: 600px;
    text-align: left;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    padding: 40px 0;
}

.auth-card {
    border-radius: 5px;
    padding: 1.2rem;
    max-width: 400px;
    width: 90%;
    background-color: white;
}

.auth-card label {
    margin: .4rem 0 !important;
}


.class-card {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
}

.class-card-delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}


.classmate-card {
    padding: 1.4rem;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    color: var(--bs-secondary);
}

.classmate-card:hover {
    background-color: #eeeeee;
    color: var(--bs-secondary);
    text-decoration: none;
}

.classwork-card, .classwork-card > a {
    width: 100%;
    text-decoration: none;
    color: var(--bs-secondary);
    padding: .4rem;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    align-items : center;
}
.classwork-card > p {
    font-size: 1.3rem;
}
.classwork-card:hover {
    color: var(--bs-secondary);
    text-decoration: none;
    background-color: #eeeeee;
}